* {
    box-sizing: border-box; /* Para que el margen y el padding (espacio entre el contenido del elemento y su borde) se cuenten por igual */
    margin: auto;
 }

h4 {    
    line-height: 1.5; /* Interlineado */
    font-family: 'Bitter', serif;
    font-style: normal;
    color: #ffffff; /* Color de fuente */
}

h5, .a-txt {
    background-color: #00B1AC;
    text-decoration: none; /* Para que no aparezca el subrayado del enlace */
    font-family: 'Bitter', serif;
    font-size: 14px;
    color: #FFFF; /* Color de fuente */
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.boton {
    background-color: #00B1AC; 
    height: 50px;
    text-align: center;
    line-height: 0; /* Interlineado */
}

.img-esc-inf {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img-esc-sup {
    width: 30%; 
    height: auto;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 70%;
}


/*==================================================================
                                HEADER 
==================================================================*/

.logo { 
    position: absolute; 
    top: 0%;
    left: 2%; 
    z-index: 3; 
}

.img-enlaces {
    position: absolute;
    top: 5%;
    left: 85%;
    text-decoration: none;
    z-index: 3; 
}

/*==================================================================
                                SECTION 
==================================================================*/

.titulo {
    width: 60%;
    height: auto;
    position: absolute; 
    top: 35%;
    left: 20%;     
    font-size: 65px; /* Tamaño de fuente de 50 pixeles */
    font-family: 'Bitter', serif;
    font-style: oblique;
    color: #ffffff; /* Color de fuente */
    line-height: 1.2; /* Interlineado */
    z-index: 3;    
}

.texto {
    width: 30%;
    height: 0;
    position: absolute;
    top: 68%;
    left: 35%;
    font-size: 25px; /* Tamaño de fuente de 35 pixeles */
    z-index: 3; 
}

.btn-casos {   
    width: 170px;
    position: absolute;
    top: 82%;
    left: 35%;
    z-index: 3; 
}

.btn-ayuda {
    width: 220px;
    position: absolute;
    top: 82%;
    left: 49%;
    z-index: 3; 
}

/*==================================================================
                                FOOTER 
==================================================================*/

.footer-content {
    width: 70%;
    height: auto;    
    position: absolute;
    top: 93%;
    left: 15%;
    text-align: center;
    font-size: 15px; /* Tamaño de fuente de 35 pixeles */
    z-index: 3; 
}


/*==================================================================
                                Medias
==================================================================*/

/* Tamaño maximo de pantalla 1535px*/

@media screen and (max-width: 1400px) {
    .titulo {
        width: 70%;
        left: 15%; 
    }
    
    .texto {
        width: 40%;
    }
}

@media screen and (max-width: 1350px) {
   .img-esc-inf {
    position: absolute;
    top: 3%;
    left: 0%;
    }  
    
    .img-esc-sup {
        width: 40%; 
        left: 60%;
    }

    .btn-casos {   
        left: 32%;
    }
    
    .btn-ayuda {
        left: 52%;
    }
    
    .footer-content {
        width: 80%;
        left: 10%;
    }
    
}

@media screen and (max-width: 1150px) {     
    .img-esc-sup {
        width: 45%; 
        left: 55%;
    }

    .titulo {
        width: 90%;
        left: 5%; 
    }
    
    .texto {
        width: 50%;
        left: 25%; 
    }
    
    .btn-casos, .btn-ayuda {   
        top: 80%;
    }
    
    .footer-content {
        top: 90%;
    }

}

@media screen and (max-width: 900px) {
    .img-enlaces {
        left: 80%;
    }

    .titulo {
        font-size: 52px;
    }

    .texto {
        width: 60%;
        top: 63%;
        left: 20%;
        font-size: 22px;
    }

    .btn-casos {   
        top: 77%;
        left: 20%;
    }

    .btn-ayuda {
        top: 77%;   
        left: 50%;
    }

    .footer-content {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .img-esc-sup {
        width: 70%; 
        left: 30%;
    } 

    .logo {  
        top: 10%;
        left: 35%; 
    }

    .img-enlaces {
        left: 75%;
    }    
    
    .titulo {
        font-size: 40px;
        top: 38%;
    }

    .btn-casos, .btn-ayuda {   
        top: 80%;
    }

    .btn-casos {   
        left: 15%;
    }
}

@media screen and (max-width: 560px) {
    h5, .a-txt {
        font-size: 12px;
        color: #FFFF; /* Color de fuente */
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .img-esc-sup {
        width: 100%; 
        left: 0%;
    } 

    .img-esc-inf {
        top: 13%;
    }

    .logo {  
        top: 20%;
        left: 35%; 
    }
    
    .img-enlaces {
        left: 70%;
    }  

    .titulo {
        top: 48%;
        font-size: 30px;
    }
    
    .texto {
        top: 65%;
        font-size: 18px;
    }

    .btn-casos {   
        width: 120px;
        left: 10%
    }
    
    .btn-ayuda {
        width: 170px;
        left: 50%;
    }
}

@media screen and (max-width: 450px) {
    .logo {  
        left: 26%; 
    }
    
    .img-enlaces {
        left: 62%;
    } 

    .texto {
        top: 72%;
    }

    .btn-casos, .btn-ayuda {   
        top: 88%;
    }
    
    .footer-content {
        top: 100%;
        font-size: 10px; 
    }
}